body{
    background-color:powderblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(33, 88, 133);
    font-family: sans-serif;
}
.title{
    color: rgb(33, 88, 133);
    font-size: 50px;
    font-family: monospace;
}
.topbar{
  
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.bar{
    width: 350px;
    height: 50px;
    background-color: powderblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;

}
.bar a {
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    color: rgb(33, 88, 133);
}
.current-page{
    color: white;
    height: 50px;
    background-color: rgb(166, 203, 216);
    display: flex;
    justify-content: center;
    align-items:  center;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}
hr.new1 {
  border-top: 1px solid rgb(48, 140, 156);
  width: 100%;
}
.profile-img{
    width: 100%;
    height:100%;
}
img {
    border-radius: 10px;
}
.name  {
    font-size: 30px;
    color: rgb(33, 88, 133);
    font-family: sans-serif;
}
.content1{
    display: flex;
    gap: 2vw;
}
.content1-left{
    display: flex;
    flex-direction: column;

}
.content1-right{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    background-color: white;
    border-radius: 10px;
    padding: 2vw;
}
.content2{
    max-width: 735px;
    width: 96%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 2vw;
    margin: 1vw;
}
.exp{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.exp-name{
    padding: 1vw;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.exp-imgcontainer{
    display: flex;
    gap: 3vw;
}
.exp-img{
    max-width: 300px;
    max-height: 200px;
    width: 30vw;
    height: 20vw;
}
.hobby{
    display: flex;
    justify-content: center;
}
.hob-container{

    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hob-img{
    max-width: 130px;
    max-height: 90px;
    width: 15vw;
    height: 10vw;
}
